@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container-outer {
    margin: 0 auto;
    max-width: 120rem;
  }
}

@font-face {
  font-family: 'RazerF5';
  src: url('/font/RazerF5.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'RazerF5';
  src: url('/font/RazerF5SemiBold.woff') format('woff');
  font-weight: 500;
}

body {
  background-color: black;
  color: white;
  font-family: RazerF5, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 300;
}
